*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif ;
    
}
html{
  scroll-behavior: smooth;
}
body{
    background-color: #000000;
    color: #ffffff;
}
.logo{
    font-size: 45px;
    font-weight: bolder ;
   
    
}
#first{
    color: #ff0051;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#second{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 40px;
    font-size: 18px;
    cursor: pointer;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
}
nav ul li a:hover {
    color: #ff0051 ; 
  
}

nav ul li:hover {
    transform: scale(1.3);
 }
 .About {
    display: flex;
    flex-wrap: wrap;
  }
  
  .videoAbout {
       padding: 0%;
      position: relative;
  }
  
  .videoAbout video {
  
    width:98vw;
    height: 90vh; 
    object-fit: cover;
    margin-top: -13px;
     }
  
  .textAbout {
     padding: 65px; 
     text-align: center;
     position: absolute;
    margin-top: 50px;
    font-size: 30px;
      z-index: 1;
  }
  .textAbout span{
color:#ff0051;
  }
  .textAbout h1{
    padding-top: 20px ;
  }
  .intro{
    display: flex;
    flex-wrap: wrap;
    padding: 35px  50px 5px 100px;
  }
  .introimg img{
    margin-top: 10px;
    width: 340px;
    height:380px;
    flex-basis: 35%;
    border-radius: 15px;
   filter:grayscale(1.2);
   
  }
  .introtext{
    flex-basis: 57%;
    margin-left: 30px;
    color: #ababab;

  }
  .introtext h1{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
  }
.introtab{
  display: flex;
  margin: 20px 0 40px;
}
.tablinks{
  margin-right: 50px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.tablinks::after{
  content: "";
  width: 0;
  height: 3px;
  background: #ce0242 ;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tablinks.activelink::after { 
  width: 80%;
}
.intro-content ul{
  list-style: none;
  margin: 10px 0px;
  line-height: 23px;

}
.intro-content ul span{
font-size: 16px;
color:#ce0242 ;
}
.intro-content
{
  display: none;
}
.intro-content.activetab {
  display: block;
}


.services{
  padding: 30px 120px;
}
.serviceslist{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px ,25%));
  grid-gap: 40px;
  margin-top: 50px  ;
  color: #c9c7c7ab;
}
.myservices{
  font-size: 45px;
 }
.serviceslist div{
 background-color: #2c2c2c;
 padding: 50px 10px;
font-size: 15px;
border-radius: 15px;
transition: background-color 0.5s,transform 0.5s;
}
.serviceslist h2{
  padding-bottom: 15px;
  color: #ede6e6;
  font-size: 30px;
}
.serviceslist div i{
  padding-bottom: 15px;
  color: #ede6e6;
  font-size: 50px;
}
.serviceslist div a{
  text-decoration: none;
  color: #c9c7c7ab;
   font-size: 13px;
   display: inline-block;
   margin-top: 20px;
 
}
.serviceslist div:hover{
  background-color:#be003c;
  transform: translateY(-10px);
}

.work {

  padding: 30px 120px;
}

.worktext {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.worklist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.worknum {
  position: relative;
  overflow: hidden;
}

.worknum img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.workdetail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #f72e6e);
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease,transform 0.5s ;
  padding: 20px;
  text-align: center;
}
.worknum:hover{
  transform: scale(1.1);
}
.worknum:hover .workdetail {
  opacity: 1;
}

.workdetail h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.workdetail p {
  margin-bottom: 20px;
  font-size: 14px;
}

.workdetail a {
  text-decoration: none;
  font-size: 19px;
  background-color: #ede6e6;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  color:#e21a59;

}
.workbtn{
  display: block;
  margin: 50px 35vw;
  padding:10px;
  border-radius: 7px solid #ec0f55;
  transition: background-color 0.5s,transform 0.5s;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}
.workbtn:hover{
  background-color: #ec0f55;
  transform: scale(1.1);
}


.contact{
  display: flex;
  padding: 30px 100px 70px 100px;
}
.contactone{
  flex-basis: 30%;
}
.contacttwo{
  flex-basis: 70%;
  display: flex;
  margin: 20px 0 10px -140px;
  flex-direction: column;
  margin-right:  150px;
}
.contactone h1{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
}
.contactone p{
  font-size: 22px;
  margin-top: 12px;
}
.contactone p i{
  font-size: 20px;
  margin-top: 15px;
  color: #f72e6e;
  margin-left: 9px;
  
}
.socialicon i{
  margin-left: 9px;
    font-size: 35px;
  margin-top: 15px;
  color: #fffbfc;
  transition: transform 0.5s;
}
.socialicon i:hover{
  transform: translateY(-4px);
 color: #f72e6e;
}
.workbtn.btn{
 background-color: #e21a59;
margin-left: 9px;
padding: 20px;
width: 150px;
display: inline-block;
place-content: center;
}

form input,form textarea{
  width: 100%;
  border: 0;
  border-radius: 6px;
  background-color: #2c2c2c;
  color: #fff;
  margin-top: 30px;
  padding: 15px;
  place-content: center;
}
.last{
  font-size: 25px ;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 10px;
  background-color: #2c2c2c;
  height: 12vh;
  width: 98vw;
  text-align: center;
 place-content: center;
}
.last i{
  color: #ec0f55;
}

nav .fa-solid{
  display: none;
}
/* ------- Responsive-------- */
@media  (max-width:1000px) {
 
  .videoAbout video {
    width: 100vw;
    object-fit: contain;
    height: 100vh;
  }
.textAbout{
  margin-top: 150px;
  font-size: 20px;
}
nav .fa-solid{
  display: block;
} 

nav ul{
  background: linear-gradient(rgba(0, 0, 0, 0.1), #ff0051);
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  padding: 50px;
  z-index: 2;
  transition: right 0.2s;
}
nav ul li{
    margin: 15px;
}
nav .fa-solid{
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
}
.contact{
  flex-wrap: wrap;
}
form input,form textarea{
  width: 70%;
  border: 0;
  border-radius: 6px;
  background-color: #2c2c2c;
  color: hsl(0, 0%, 100%);
  margin-top: 30px;
  padding: 15px;
  margin-left: 130px;
}
#contactbtn{
margin-left: 320px;
}
#workb{
  width: 90px;
}
.services{
  padding: 30px 180px;
  text-align: center;
}

.last{
  font-size: 15px ;
  height: 12vh;
  width: 100vw;
  text-align: center;
 place-content: center;
  
}

}

@media only screen and (max-width:700px){
  .textAbout{
    margin-top: 60px;
    font-size: 10px;
    margin-left:-30px;
  }
  .videoAbout video {
    width: 150vw;
    object-fit: contain;
    height: 100vh;
  }
  nav .fa-solid{
    margin-top: 9px;
    margin-right: -168px;
    cursor: pointer;
  }
  .services{
    padding: 30px 100px;
  }
  .worktext ,.myservices{
    font-size: 40px;
    padding-left: 8px;
  }
  form input,form textarea{
    width:100%;
   margin-left: 130px;
  }
  #contactbtn{
    margin-left: 90px;
    }
    #workb{
      width: 90px;
    }
    .last{
      height: 12vh;
      width: 150vw;
      text-align: center;
     place-content: center;
    }
 
}
